
<!DOCTYPE html>
<html lang="en" ng-app="xtv">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>XTV</title>

    <!-- Bootstrap core CSS -->
    <link href="/web/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/web/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/web/css/xtv.css" rel="stylesheet">
</head>

<body>

<div class="message-box message-box-animate" ng-show="message.text">
    <div class="text-center message-box-text" ng-click="hideMessage()">
        <strong>{{message.text}}</strong>
    </div>
</div>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">XTV</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/shows"><span class="glyphicon glyphicon-film"></span> Shows</a></li>
                <li><a href="/search"><span class="glyphicon glyphicon-search"></span> Search</a></li>
                <li><a href="/downloads"><span class="glyphicon glyphicon-download"></span> Downloads</a></li>
                <li><a ng-click="showSettingsDialog()"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                <li><a href="/logFile"><span class="glyphicon glyphicon-list-alt"></span> Log</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container">
    <div ng-view></div>
</div><!-- /.container -->

<!-- Settings Modal -->
<div ng-controller="SettingsCtrl">
    <div class="modal fade" id="settingsDialog" tabindex="-1" role="dialog" aria-labelledby="settingsDialogLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="settingsDialogLabel"><span class="glyphicon glyphicon-cog"></span> Settings</h4>
                </div>
                <div class="modal-body">
                    <form role="form" name="settingsForm">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="nick">IRC Nickname</label>
                                    <input type="text" class="form-control" id="nick" placeholder="IRC Nickname" ng-model="settings.nick" required>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="maxDownStream">max DownStream</label>
                                    <input type="text" class="form-control" id="maxDownStream" placeholder="Maximum Downstream for all Downloads" ng-model="settings.maxDownStream" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="tempDir">Temp-Dir</label>
                            <input type="text" class="form-control" id="tempDir" placeholder="Temporary Download Directory" ng-model="settings.tempDir" required>
                        </div>
                        <div class="form-group">
                            <label for="downloadDir">Download-Dir</label>
                            <input type="text" class="form-control" id="downloadDir" placeholder="Download Directory" ng-model="settings.downloadDir" required>
                        </div>
                        <div class="form-group">
                          <label for="postDownloadTrigger">Post Download Trigger</label>
                          <input type="text" class="form-control" id="postDownloadTrigger" placeholder="Post Download Trigger" ng-model="settings.postDownloadTrigger">
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-disabled="settingsForm.$invalid" ng-click="saveSettings()">Save Settings</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/web/lib/jquery/dist/jquery.min.js"></script>
<script src="/web/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/web/lib/angular/angular.js"></script>
<script src="/web/lib/angular-route/angular-route.min.js"></script>
<script src="/web/lib/angular-animate/angular-animate.min.js"></script>

<script src="/web/js/app.js"></script>
<script src="/web/js/services/messageService.js"></script>
<script src="/web/js/controllers/HomeCtrl.js"></script>
<script src="/web/js/controllers/ShowsCtrl.js"></script>
<script src="/web/js/controllers/SearchCtrl.js"></script>
<script src="/web/js/controllers/DownloadsCtrl.js"></script>
<script src="/web/js/controllers/SettingsCtrl.js"></script>
<script src="/web/js/controllers/LogFileCtrl.js"></script>
<script src="/web/js/filters.js"></script>
<script src="/web/js/directives.js"></script>
</body>
</html>
