<div class="row">
  <div class="col-sm-6">
    <h3>
      LogFile
    </h3>
  </div>
  <div class="col-sm-6">
     <h4><a class="pull-right" style="margin: 5px; margin-top: 20px;" ng-click="clearLogFile()"><span class="glyphicon glyphicon-floppy-remove"></span></a></h4>
     <h4><a class="pull-right" style="margin: 5px; margin-top: 20px;" ng-click="loadLogFile()"><span class="glyphicon glyphicon-repeat"></span></a></h4>
  </div>
</div>

<div class="row">
  <textarea class="col-sm-12" style="height: 750px;" ng-model="logFile"></textarea>
</div>
