<div class="row">
    <div class="col-sm-offset-1 col-sm-10 text-center">
        <h2>Shows</h2>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-12">
                <strong>Shows</strong>
                <div class="pull-right pointer" ng-click="showAddShowDialog()">
                    <span class="glyphicon glyphicon-plus"></span> Add Show
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12  list-group">
                <a href="#" ng-repeat="show in shows | orderBy: 'name'" class="list-group-item" ng-class="{active: show==selectedShow}" ng-click="selectShow(show)">
                    <strong>{{show.name}}</strong>
                    <span title="delete Server" class="glyphicon glyphicon-trash pull-right xtv-server-icon" ng-click="showDeleteShowConfirm (show)"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-8" ng-show="selectedShow">
        <div ng-repeat='(season, episodes) in selectedShow.episodes'>
            <div class="row">
                <div class="col-sm-12">
                    <strong>{{selectedShow.name}} - Season {{season}}:</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 list-group">
                    <a href="#" ng-repeat="episode in episodes  | orderBy: 'number'" class="list-group-item">
                        {{episode.number}} - {{episode.name}}
                        <span title="search" class="glyphicon glyphicon-search pull-right" ng-click="searchEpisode (episode)"></span>
                        <span title="mark as watched" class="glyphicon glyphicon-unchecked pull-right" ng-click="markAsWatched (episode)"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- AddShow Modal -->
<div class="modal fade" id="addShowDialog" tabindex="-1" role="dialog" aria-labelledby="addShowDialogLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="addShowDialogLabel"><span class="glyphicon glyphicon-cog"></span> Add Show</h4>
            </div>
            <div class="modal-body">
                <form role="form" name="addShowForm">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Showname" ng-model="query">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" ng-click="searchShow()"><span class="glyphicon glyphicon-search"></span> Search</button>
                        </span>
                    </div>
                </form>
                <table class="table">
                    <tr ng-repeat="result in searchResults  | orderBy: 'name'">
                        <td>{{result.seriesName}}</td>
                        <td>
                            <a ng-click="addShow(result)"><span class="glyphicon glyphicon-plus"></span></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Show Confirm Modal -->
<confirm-dialog confirm="deleteShow()" id="deleteShowConfirmDialog">
    Do you really want to delete the show '{{showToDelete.name}}'?
</confirm-dialog>
